<%- include('partials/header.ejs') %>

<div class="row pt-5 justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Join the secret club <% if (currentUser) { %> <%= currentUser.first_name %> <% } %></h2>

        <ul class="list-group mb-3">
            <% errors && errors.forEach(error => { %>
            <li class="list-group-item text-danger"><%= error.msg %></li>
            <% }) %>
        </ul>

        <p>Enter the SECRET passcode and submit to become a member</p>

        <form action="/members/join" method="POST">
            <div class="form-group">
                <label for="secret">Passcode</label>
                <input type="text" class="form-control" name="secret" placeholder="Enter the SECRET">
            </div>
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>